<section class="section-contact" id="section-contact">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-secondary mb-50">Contact Us</h2>
        </div>
        <div class="col-2">
            <div class="contact-items">
                <ul class="contact-list">
                    <li class="contact-item">
                        <i class="fa-solid fa-phone"></i>
                        <div>
                            <h3>Call Us</h3>
                            <p>+233 (0) 241 105 423</p>
                        </div>
                    </li>
                    <li class="contact-item">
                        <i class="fa-solid fa-envelope"></i>
                        <div>
                            <h3>Email</h3>
                            <p>info@projectunforgotten.com</p>
                        </div>
                    </li>
                    <li class="contact-item">
                        <i class="fa-solid fa-map-marker"></i>
                        <div>
                            <h3>Locate Us</h3>
                            <p>Adjringanor, near ability</p>
                        </div>
                    </li>
                </ul>
            </div>
            <form action="#" class="contact-form">
                <input type="text" name="fullname" id="fname" placeholder="Firstname Lastname" required>
                <input type="email" name="email" id="email" placeholder="Email Address" required>
                <textarea name="message" id="message" cols="30" rows="10" required placeholder="Message"></textarea>
                <input type="submit" value="Send Message" class="btn btn-primary">
            </form>
        </div>
    </div>
</section> 