{# ===================  Section CTA ================ #}
<div class="section-cta">
    <div class="container wrapper">
        <div class="col-2">
            <div class="text">
                <h3 class="mb-20">Become a Life Changer
                    <br>Become a Helper.
                </h3>
                <p class="mb-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae atque deleniti, fugiat praesentium ut rerum repellendus eos itaque dignissimos illo nostrum sunt amet! Repudiandae deleniti fugit provident? Quis, maiores velit?</p>
                <a href="#" class="btn btn-primary">Become a Member</a>
            </div>
            <div class="image">
                <img src="/assets/cta.png">
            </div>
        </div>
    </div>
</div>
{# ================ Section CTA ended ============= #}