<footer>
    <div class="container wrapper">
      <div class="footer-container">
        <div class="col-2">
          <div>
            <h2 class="heading-primary mb-20">Keep in touch with us on Social Media</h2>
            <ul class="social-list">
              <li class="social-item">
                <a href="https://l.instagram.com/?u=https%3A%2F%2Fchat.whatsapp.com%2FJRWlsasu7zW6XMtLT6PiWK&e=AT0XaHzXsP_DZvuSGw7r6RLNh0Gis8CkqKUsOwPXM7DxdQVAabKPFhLySdqt7CQMEZulby-D9KMcAZgtDdE53LAntUa4NmER3M0uqzg" class="social-link">
                  <i class="fa-brands fa-whatsapp"></i>
                </a>
              </li>
              <li class="social-item">
                <a href="https://www.instagram.com/projectunforgotten/?hl=en" class="social-link">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li class="social-item">
                <a href="https://www.facebook.com/profile.php?id=100083706249695" class="social-link">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li class="social-item">
                <a href="https://twitter.com/projectunforgot" class="social-link">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <div>
            <h2 class="heading-primary mb-20">Join us as we touch lives</h2>
            <a href="google.com" class="btn btn-primary">Become a volunteer</a>
          </div>
        </div>
      </div>

      <p class="copy">All rights reserved &copy; Project Unforgotten, Designed and developed by <a href="https://carbellsarfo.netlify.app/" target="blank">Carbell Sarfo </a></p>
    </div>
</footer>