
<div class="nav-overlay"></div>

<nav class="nav-bar" id="nav-bar">
  <div class="container wrapper">

    <div class="nav-container">
      <!-- LOGO -->
      <a href="/" class="logo">
        <img src="/assets/logo.png" alt="project Unforgotten" class="logo-img">
      </a>
  
      <!-- nav-list -->
      <ul role="list" class="nav-list">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/faq" class="nav-link">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_M_IGImGDvEFc53TxkvoBeTWVWVtXKvY0hwceJUnTFHP4aQ/viewform" class="nav-link" target="about">Register</a>
        </li>
        <li class="nav-item">
          <a href="#section-contact" class="nav-link">Contact Us</a>
        </li>
        
        {# DONATE BUTTON #}
        <a href="#" class="btn btn-primary">Donate</a>
      </ul>
      
  <!-- navigation Button -->
      <div class="nav-btn">
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
      </div>
    </div>
  </div>
</nav>