---
layout: base.njk
title: FAQs
---


{# =================== Section Hero ============ #}
<section id="hero">
    <div class="container wrapper">
        <div class="text">
            <h1>FAQs</h1>
        </div>
    </div>
</section>



{# ========================= FAQs ================= #}
<section class="section-faq">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-secondary mb-50 text-center">Frequently Asked Questions (FAQs)</h2>
        </div>
        <button class="accordion main-acc one">About Project Unforgotten</button>
        <div class="panel main-panel">
            <button class="accordion sub-acc">What is Project Unforgotten</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque similique modi a velit, ab minima?</p>
            </div>
            <button class="accordion sub-acc">Who is Project Unforgotten for?</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam corporis tempora nostrum vel dicta quasi veniam sint placeat dignissimos? Voluptates!</p>
            </div>
            <button class="accordion sub-acc">How can Project Unforgotten help me advance my career?</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora illum ipsa earum hic. Quae animi maxime quas consectetur nemo repellendus vel, quos voluptatibus architecto deserunt!.</p>
            </div>
            <button class="accordion sub-acc">How can Project Unforgotten help me achieve my goal of becoming a C-suite executive or board member?</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quisquam est neque voluptates magni? Itaque, veniam tempore, officia fuga id perspiciatis blanditiis culpa atque cum natus, officiis harum temporibus a.</p>
            </div>
        </div>
        <button class="accordion main-acc two.'">Joining Project Unforgotten</button>
        <div class="panel main-panel">
            <button class="accordion sub-acc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, provident.</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus obcaecati dolorum tempore nihil sapiente eaque non vero, dolores est. Repudiandae quasi odio debitis incidunt maxime ducimus, ratione aut officia ad?</p>
            </div>
            <button class="accordion sub-acc">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam animi consequuntur delectus cumque, molestias amet!</p>
            </div>
            <button class="accordion sub-acc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cum pariatur soluta assumenda expedita sunt earum minus, tempora, dolore eos aut natus iste, vel incidunt perferendis obcaecati iure!</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, nulla alias dolores doloribus, facilis pariatur ipsa ad autem laboriosam quas, vero deserunt nesciunt culpa? Sapiente aspernatur repellendus placeat molestias veniam?</p>
            </div>
            <button class="accordion sub-acc">How do I become a member of Project Unforgotten?</button>
            <div class="panel sub-panel">
                <p>To become a member of Project Unforgotten, simply visit our membership page and choose the membership option that best fits your needs.</p>
            </div>
            <button class="accordion sub-acc">Can I join Project Unforgotten if I'm not currently working in Kumasi</button>
            <div class="panel sub-panel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita voluptate, libero deleniti nesciunt, aspernatur, aliquam labore maxime ipsum sed dolore cumque perspiciatis corrupti commodi at dignissimos alias beatae porro..</p>
            </div>
        </div>
    </div>
</section>