---
layout: base.njk
title: Project Unforgotten
---

{# ============ Section Hero =========== #}
<section class="section-hero" id="section-hero">
    <div class="container wrapper">
        <h1 class="purple-text">PROJECT</h1>
        <h1>UNFORGOTTEN</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor unde reiciendis error! Dignissimos aut voluptate culpa rem sapiente laboriosam?</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_M_IGImGDvEFc53TxkvoBeTWVWVtXKvY0hwceJUnTFHP4aQ/viewform" class="btn btn-white">Become a volunteer</a>
    </div>
</section>
{# ======= Section Hero Ended ======== #}



{# =========== About Us Starting ============ #}
<div class="section-about">
    <div class="container wrapper">
        <div class="text-center mb-50">
            <h2 class="heading-secondary">About Us</h2>
        </div>
        <div class="col-2 mb-50">
            <div class="text">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda quos sapiente atque vel facilis est ad, dolor iure quis itaque.
                    <br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione consequatur ut enim vero assumenda voluptatum rerum, aliquid magnam maiores eaque!
                </p>
                <h3>Our Mission</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iste facere officiis distinctio quasi? Dolor sint minus fugit quidem illum. Deserunt, maiores ad! Atque ut, similique vero dicta sunt sapiente.</p>
                <h3>Our Vision</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iste facere officiis distinctio quasi? Dolor sint minus fugit quidem illum. Deserunt, maiores ad! Atque ut, .</p>
            </div>
            <div class="image">
                <img src="/assets/about.png" alt="about project unforgotten">
            </div>
        </div>
        <div class="col-4">
            <img src="/assets/giving-1.png" alt="giving">
            <img src="/assets/giving-1.png" alt="giving">
            <img src="/assets/giving-1.png" alt="giving">
            <img src="/assets/giving-1.png" alt="giving">
            <img src="/assets/giving-1.png" alt="giving">
            <img src="/assets/giving-1.png" alt="giving">
            <img src="/assets/giving-1.png" alt="giving">
            <img src="/assets/giving-1.png" alt="giving">
        </div>
    </div>
</div>


{# About Us Ended #}








{# =================  Section Highlight ============= #}
<section class="section-highlight">
    <div class="container wrapper">
        <div class="col-3">
            <div class="highlight">
                <h1>5</h1>
                <h3>Years</h3>
                <p>Of Impact</p>
            </div>
            <div class="highlight">
                <h1>2000+</h1>
                <h3>Lives</h3>
                <p>Touched</p>
            </div>
            <div class="highlight">
                <h1>100+</h1>
                <h3>Active</h3>
                <p>Volunteers</p>
            </div>
        </div>
    </div>
</section>
{# ================ Section Highlight Ended ============= #}



{# =================== Our Teams ================== #}
<section class="section-teams">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-secondary">Our Teams</h2>
        </div>
        <p class="text-center mb-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, voluptate.</p>
        <div class="col-4">
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
        </div>
    </div>
</section>
{# ================== Section Teams ended ============== #}





