---
layout: base.njk
title: Hello World
---

{# ============ Section Hero =========== #}
<section class="section-hero" id="section-hero">
    <div class="container wrapper">
        <h1 class="purple-text">PROJECT</h1>
        <h1>UNFORGOTTEN</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolor unde reiciendis error! Dignissimos aut voluptate culpa rem sapiente laboriosam?</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_M_IGImGDvEFc53TxkvoBeTWVWVtXKvY0hwceJUnTFHP4aQ/viewform" class="btn btn-white">Become a volunteer</a>
    </div>
</section>
{# ======= Section Hero Ended ======== #}









{# =================  Section Highlight ============= #}
<section class="section-highlight">
    <div class="container wrapper">
        <div class="col-3">
            <div>
                <h1>5</h1>
                <h3>Years</h3>
                <p>Of Impact</p>
            </div>
            <div>
                <h1>2000+</h1>
                <h3>Lives</h3>
                <p>Touched</p>
            </div>
            <div>
                <h1>100+</h1>
                <h3>Active</h3>
                <p>Volunteers</p>
            </div>
        </div>
    </div>
</section>
{# ================ Section Highlight Ended ============= #}



{# =================== Our Teams ================== #}
<section class="section-teams">
    <div class="container wrapper">
        <h2 class="heading-secondary">Our Teams</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, voluptate.</p>
        <div class="col-4">
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
            <div class="team">
                <img src="/assets/teams.png" alt="Team Circle">
                <div class="team-name">Team Circle</div>
            </div>
        </div>
    </div>
</section>
{# ================== Section Teams ended ============== #}





{# ===================  Section CTA ================ #}
<div class="section-cta">
    <div class="container wrapper">
        <div class="col-2">
            <h3>Become a Life Changer
                <br>Become a Helper.
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae atque deleniti, fugiat praesentium ut rerum repellendus eos itaque dignissimos illo nostrum sunt amet! Repudiandae deleniti fugit provident? Quis, maiores velit?</p>
            <a href="#" class="btn btn-primary">Become a Member</a>
        </div>
    </div>
</div>
{# ================ Section CTA ended ============= #}